* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

.main-container {
  background: linear-gradient(
    to right,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram-card {
  width: 400px;
  background-color: #fff;
  height: 500px;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

.instagram-icon {
  height: 45px;
}

/* list items css */

h1 {
  margin-bottom: 10px;
}

input {
  width: 75%;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.user-list-item {
  background-color: #f0f8ff;
  list-style-type: none;
  text-align: start;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  margin: 5px;
}
.user-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.user-details {
  margin-left: 15px;
}
.user-name {
  font-size: 19px;
  color: #3f3f41;
}
.user-id {
  color: #6f6f6f;
  font-size: 12px;
}
.remove-btn {
  font-size: 18px;
  color: #7b7b7b;
  margin-left: auto;
  padding: 5px;
  border: none;
}
